.restaurant-wrapper {
  height: 100%;
}

.placeholder-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.restaurant-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imgOfRestaurant {
  width: 340px;
  height: 200px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 35px;
  background-color: #2da162;
  color: #fff;
}